Source: promansible-monitor
Section: python
Priority: optional
Maintainer: thomas.li  <libiao.2005@gmail.com>
Build-Depends:
Homepage:
Standards-Version: 3.8.3

Package: promansible-monitor
Architecture: all
Depends:  mysql-server, libmysqld-dev, libmysqlclient-dev, memcached, libmemcached-tools, apache2, libapache2-mod-wsgi, python2.7, python-pip, python-dev, openssl, libssl-dev, libffi-dev, python-yaml, ifstat, sysstat, sudo, openssh-server, sshfs, sshpass, iperf, iotop, supervisor, libzmq3-dev, git, ansible
Description: promansible-monitor basic package

Package: prometheus-server
Architecture: all
Depends: promansible-monitor
Description: prometheus daemon package

Package: alertman-server
Architecture: all
Depends: prometheus-server
Description: alert manager daemon package

Package: grafana-server
Architecture: all
Depends: prometheus-server
Description: grafana daemon package

Package: snmp-exporter
Architecture: all
Depends: prometheus-server
Description: snmp exporter package

Package: promansible-wtee
Architecture: all
Depends: promansible-monitor
Description: tail wtee ws

Package: promansible-daemon
Architecture: all
Depends: promansible-monitor
Description: backend of promansible-monitor

Package: node-exporter
Architecture: all
Depends:
Description: node-exporter
